@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@**Loop through the names in an unordered list on your page using Razor*@
<h2> List Of Names</h2>
@{ 
    var Names = new List<string> { "Sany", "Ezabil", "Brayen", "sheralle", "Ghone" };
}
<ul>
    @foreach (var name in Names)
    {
        <li> @name</li>
    }
</ul>

<h2> List Of Animals </h2>
@{ 
    var Animals = new List<string> { "Cat", "Dog", "Bird", "Cow" };
}
    <ul>
        @foreach( var animal in Animals)
        {
            <li> @animal </li>
        }
    </ul>

@**Use a multi-line razor statement to make two variables
    (string UserName and string Greeting) and set the values to whatever you want.*@

@{ 
    var UserName = " Sany Yousif";
    var Greating = " Hello Hello ";
 }

<h2>  @UserName Say to everyone @Greating </h2>




